*{
    --navy: #0d153a;
    --mute: #384e82;
    --sky: #3d5af1;
    --neon: #21d0ee;
    --cloud: #e2f2f5;
}

#root{
    background-color: var(--navy);
}
/* Format App div */
.container{
    display: flex;
    height: auto;
    flex-direction: column;
    min-width: 60vw;
}

/* Order App contents above Footer */
#wrapper{
    flex: 1 0 auto;
    width: 100%;
}
/* #wrapper:after{
    content: '\00a0';
    display: block;
    height: 0;
    visibility: hidden;
} */

/* Format Parallax Components */
.parallax-class{
    margin: 40vh 0 0;
}


/* begin stylesheet */

/* header */
.header{
    min-height: 8vh;
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--navy);
}
.header > a:hover{
    font-weight: bold;
}
.level{
    height: 7.2vh;
    width: auto;
    padding: 2vh;  
    margin: auto;

    background-color: var(--neon);
    border: none;
    border-radius: 1vh;
}
.header > .level > .level-right{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

/* hero */
.hero-div{
    min-height: 60vh;
    /* background-color: lightpink; */
    justify-content: space-around;
}
.columns{
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 40vh;
}
.hero-text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.bio{
    display: flex;
    height: 70%;
    width: 80%;
    border-radius: 3rem;
    padding:1rem;
    align-items: center;
    border: solid var(--neon) 1rem;
    background-color: var(--navy);
}
.hero-img{
    height: auto;
    border: dotted var(--neon) 1px;
}

/* projects */
.project-plx{
    background-color: var(--mute);
    border: 1vh solid var(--sky);
    border-radius: 2.5rem;
    padding: 1rem;
}
.projects{
    min-height: 80vh;
    justify-content: center;
    /* padding: 1rem ; */
    width: 80%;
    margin: 0 auto;
}
.project-plx > .title{
    text-align: center;
    color: var(--cloud);
}
.tile{
    border: none
}
.tile.hvr-grow{
    background-color: var(--navy);
    color: var(--cloud);
}

/* blog */
.blog{
    min-height: 45vh;
    display: flex;
    padding: 2rem;
    background-color: var(--mute);
    border: 1vh solid var(--sky);
    border-radius: 2.5rem;
}
.tile.is-11{
    margin: auto;
    align-self: center;
    height: 35vh;
}
.blog-post{
    background-color: var(--navy);
    color: var(--cloud);
}

/* footer */
.bottom{
    height: 8vh;
    padding: 1rem;
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
}
.footer{
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: var(--navy);
    font-size: none;
}
.footer > .level > .level-right{
    width: 15%;
    justify-content: space-around;
}

/* animations */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.blog-post:hover,
.blog-post:active{
    color: var(--neon);
}
