*{
    --navy: #0d153a;
    --mute: #384e82;
    --sky: #3d5af1;
    --neon: #21d0ee;
    --cloud: #e2f2f5;
}

#root{
    background-color: var(--navy);
    height: auto;
}
/* Format App div */
.container{
    display: flex;
    height: 100%;
    flex-direction: column;
    min-width: 60vw;
}


/* begin stylesheet */

/* header */
.header{
    min-height: 8vh;
    padding: 0.5rem;
    margin-top: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--navy);
}
.header > a:hover{
    font-weight: bold;
}
.level{
    height: 7.2vh;
    width: auto;
    padding: 2vh;  
    margin: auto;

    background-color: var(--neon);
    border: none;
    border-radius: 1vh;
}
.header > .level > .level-right{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
@media only screen and (max-width: 800px){
    .level{
        font-size: 1.2rem;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        padding: 1vh
    }
    .level-left{
        width: 40%;
    }
    .level-item{
        width: 40%;
    }
    .level > .level-item > a > p{
        font-size: 1.2rem;
    }
}

/* hero */
.hero-div{
    min-height: 60vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* background-color: lightpink; */
    justify-content: space-around;
}
.columns{
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 40vh;
}
.hero-text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.bio{
    display: flex;
    height: 70%;
    width: 80%;
    border-radius: 0.5rem;
    padding:1rem;
    align-items: center;
    /* border: solid var(--neon) .3rem; */
    background-color: var(--navy);
    font-family: 'Noto Sans JP', sans-serif;    
    text-align: center;
}
.bio > h1{
    color: var(--cloud);
}
.hero-img{
    display: flex;
    justify-content: space-around;
}
.hero-img > .image{
    align-self: center;
}
.hero-img > figure > img {
    border-radius: 0.5rem;
}

/* projects */
.project-plx{
    margin-top: 10rem;
}
.pj-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--cloud);
    font-family: 'Noto Sans JP', sans-serif;
}
.tile.is-7 > .tile{
    border: 0.1rem dashed var(--neon);
    height: fit-content
}
.tile.hvr-grow{
    background-color: var(--navy);
    color: var(--cloud);
}
.projects{
    min-height: 50vh;
    margin-bottom: 20vh;
    justify-content: center;
    padding: 1rem ;
    width: 80%;
    margin: 0 auto;
}

/* blog */
.blog{
    height: 80vh;
    padding: 1.5rem;
    margin-top: 12rem;
    margin-bottom: 1.5rem;
}
.blog-title{
    text-align: center;
    font-size: 3rem;
    color: var(--cloud);
    font-family: 'Noto Sans JP', sans-serif;
}
.tile {    
    margin: auto;
}
.tile.is-11 > article{
    height: 20vh;
    background-color: var(--navy);
    border: 0.4rem solid var(--neon);
    color: var(--neon);
    font-family: 'Noto Sans JP', sans-serif;
}
@media only screen and (max-width: 800px) {
    .blog{
        padding: 0;
        height: auto;
    }
    .tile.is-11 > article{
        border: 0.1rem solid var(--neon);
        height: auto;
    }
    .tile.is-11 > article > a > .title {
        font-size: 1.5rem;
    }
    .tile.is-11 > article > a > .subtitle {
        font-size: 1rem;
    }
  }


/* footer */
.footer{
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: var(--navy);
    font-size: none;
}
.footer > .level > .level-right{
    width: 15%;
    justify-content: space-around;

}
@media only screen and (max-width: 800px){
    .level-left{
        width: 50%;
        border: 1px solid white;
    }
    .level > .level-right{
        width: 50%;
        border: 1px solid white;
        height: 100%;

    }
    .level-right > .level-item{
        border: 1px solid white;
        width: 14%;
    }
}
.header-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
}
.mobile-title{
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--neon);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 1vh;
    margin: 0 auto;
    border: 1px solid white;
}
.mobile-link-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mh-link{
    font-size: 1.4rem;
}

/* animations */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.tile.is-11 > article:hover{
    color: var(--cloud);
    text-decoration: none;;
}
